{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.S. Te amo</title>
    <link rel="stylesheet"  href="{% static 'css/main.css' %}">>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    {% block content %}
        {% include "./main_sections/hero.html" %}
        {% include "./main_sections/about.html" %}
        {% include "./main_sections/howitworks.html" %}
        {% include "./main_sections/faq.html" %}
        {% include "./main_sections/plans.html" %}
    {% endblock content %}
</body>
</html>
