{% extends 'core/base.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}

    <div class='login-container'>
        <div class="login-box">
            <h2 class="title">Entrar</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label>Usuário</label>
                    <input type="text" name="username" class="form-control" placeholder="Nome do usuário" required>
                </div>
                <div class="input-group">
                    <label>Senha</label>
                    <input type="password" name="password" class="form-control" placeholder="Senha" required>
                </div>
                <button type="submit" class="btn-login" >Entrar</button>
            </form>
            <p class="signup-text">Não tem conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
        </div>
    <div>
{% endblock %}
