{% load static %}
<section id="sobre" class="about-section">
        <div class="container row-24">
            <div class="about-card-wrapper col-24 row-24">
                <div class="about-intro col-24">
                    <h2>Sobre</h2>
                    <p>Nosso serviço permite que você escreva e programe mensagens que serão enviadas apenas quando você não estiver mais aqui. Pode ser uma informação importante, um conselho, aquela história que você sempre quis contar ou até mesmo um "eu te amo".</p>
                </div>

                <div class="feature-card col-8">
                    <div class="feature-header">
                        <h3>Mensagens eternas</h3>
                        <img src="{% static 'img/icons/laptop-email-icon.png' %}" alt="Ícone Mensagens eternas" class="feature-icon-img">
                    </div>
                    <p>Escreva cartas, depoimentos e desabafos que serão entregues no momento certo.</p>
                </div>

                <div class="feature-card col-8">
                    <div class="feature-header">
                        <h3>Segurança total</h3>
                        <img src="{% static 'img/icons/locker-icon.png' %}" alt="Ícone Mensagens eternas" class="feature-icon-img">
                    </div>
                    <p>Sistema de confirmação com "dead man's switch" digital para garantir que suas mensagens cheguem.</p>
                </div>

                <div class="feature-card col-8">
                    <div class="feature-header">
                        <h3>Seus dados, seu controle</h3>
                        <img src="{% static 'img/icons/security-icon.png' %}" alt="Ícone Mensagens eternas" class="feature-icon-img">
                    </div>
                    <p>Você define quem, quando e o que recebe.</p>
                </div>

                <div class="feature-card col-8">
                    <div class="feature-header">
                        <h3>Para quem você ama</h3>
                        <img src="{% static 'img/icons/letter-icon.png' %}" alt="Ícone Mensagens eternas" class="feature-icon-img">
                    </div>
                    <p>Cadastre destinatários especiais e agende a ordem de entrega.</p>
                </div>

                <div class="feature-card col-8">
                    <div class="feature-header">
                        <h3>Fotos e memórias</h3>
                        <img src="{% static 'img/icons/photos-icon.png' %}" alt="Ícone Mensagens eternas" class="feature-icon-img">
                    </div>
                    <p>Compartilhe imagens especiais que guardam momentos únicos.</p>
                </div>

                <div class="feature-card col-8">
                    <div class="feature-header">
                        <h3>Flores póstumas</h3>
                        <img src="{% static 'img/icons/flowers-icon.png' %}" alt="Ícone Mensagens eternas" class="feature-icon-img">
                    </div>
                    <p>Plano premium com envio de flores reais para seus entes queridos.</p>
                </div>
            </div>
        </div>
    </section>
